{#<form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">#}
{#  <div class="row px-2">#}
{#    <div class="col-md-12 col-sm-12" id="result1"></div>#}
{#    <div class="col-md-12 col-sm-12">#}
{#      <div class="form-group">#}
{#        <label for="name1" class="d-none"></label>#}
{#        <input class="form-control" id="name1" type="text" placeholder="Name:" required  name="userName">#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-12 col-sm-12">#}
{#      <div class="form-group">#}
{#        <label for="email1" class="d-none"></label>#}
{#        <input class="form-control" type="email" id="email1" placeholder="Email:" name="email">#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-12 col-sm-12">#}
{#      <div class="form-group">#}
{#        <label for="message1" class="d-none"></label>#}
{#        <textarea class="form-control" id="message1" placeholder="Message:" required  name="message"></textarea>#}
{#      </div>#}
{#    </div>#}
{#    <div class="col-md-12 col-sm-12">#}
{#      <button type="submit" id="submit_btn1" class="button gradient-btn w-100">Send</button>#}
{#    </div>#}
{#  </div>#}
{#</form>#}
{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% set classes = ['getin_form', 'wow', 'fadeInUp'] %}
<form{{ attributes.addClass(classes).setAttribute('data-wow-delay', '400ms') }}>
  <div class="row px-2">
    {{ children }}
  </div>
</form>
