{% include "@xtrax/header/header-1.html.twig" %}
<section id="main-banner-page" class="position-relative page-header about-header parallax section-nav-smooth" style="background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center -153.9px;">
  <div class="overlay overlay-dark opacity-7"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="page-titles whitecolor text-center padding_top padding_bottom">
          <h2 class="font-xlight">{{ current_title }}</h2>
        </div>
      </div>
    </div>
    {{ page.breadcrumbs }}
  </div>
</section>
<section class="padding_top padding_bottom">
  <div class="container">
    {{ page.highlighted }}
    {{ page.content }}
  </div>
</section>
{% include "@xtrax/footer/footer-1.html.twig" %}
